@import url(styleName.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*-----------------------*/
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .ibg img {
    display: none; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative; }
  .main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.opacity {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 33, 60, 0.7); }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  padding: 45px 0; }
  .header__burger {
    display: none; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu__link {
  color: #252525;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 50px;
  padding: 5px 3px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .menu__link:hover {
    opacity: 0.4; }

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    right: 30px; }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px; }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu__body {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 0 0 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 40px 0 0;
    text-align: center; }
  .menu__body.active {
    top: 80%; }
  .menu__link.active {
    font-size: 24px;
    text-align: center; }
  .menu__list.active li {
    margin: 0 0 30px 0; }
  .intro.active {
    z-index: 1; } }

.intro {
  position: absolute;
  z-index: 3;
  text-align: center;
  top: 45%;
  width: 100%; }
  .intro__title {
    padding: 0 0 47px 0;
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 700; }
    @media (max-width: 767px) {
      .intro__title {
        font-size: calc(30px + 85 * ((100vw - 320px) / 1200)); } }
    @media (min-width: 767px) {
      .intro__title {
        font-size: calc(30px + 50 * (100vw / 1200)); } }
  .intro__btn_btn {
    width: 129px;
    height: 42px;
    -webkit-box-shadow: 3px 3px #0030ff;
    box-shadow: 3px 3px #0030ff;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }
    .intro__btn_btn p {
      color: #1e1e1e;
      font-family: "PT Sans";
      font-weight: 400; }
      @media (max-width: 767px) {
        .intro__btn_btn p {
          font-size: calc(18px + -6.8 * ((100vw - 320px) / 1200)); } }
      @media (min-width: 767px) {
        .intro__btn_btn p {
          font-size: calc(18px + -4 * (100vw / 1200)); } }
  @media (max-width: 769px) {
    .intro .intro__btn_btn {
      width: 70%;
      margin: 40px 0 0 0; } }
  @media (max-width: 671px) {
    .intro .intro__btn_btn {
      width: 90%;
      margin: 50px 0 0 0; } }

.btn:hover {
  border-radius: 3px;
  -webkit-box-shadow: 3.5px 3.5px 20px #0030ff;
  box-shadow: 3.5px 3.5px 20px #0030ff; }

.btn:active {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.8; }

.about__body {
  padding: 148px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about__image img {
  -webkit-animation: fade-in .4s ease;
  animation: fade-in .4s ease;
  -webkit-box-shadow: 10px 10px #b3278d;
  box-shadow: 10px 10px #b3278d; }

.about__info {
  padding: 0 0 0 40px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.about__title {
  color: #1e1e1e;
  font-family: "Myriad Pro";
  font-size: 40px;
  font-weight: 700; }

.about__text {
  margin: 20px 0 64px 0;
  color: #363636;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400; }
  .about__text p {
    padding: 26px 0 0 0; }

.about__btn_btn {
  width: 142px;
  height: 42px;
  background-color: #0030ff;
  -webkit-box-shadow: 4px 4px #01197e;
  box-shadow: 4px 4px #01197e;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .about__btn_btn p {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400; }

@media (max-width: 1211px) {
  .about .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about .about__image img {
    max-width: 500px; }
  .about .about__info {
    max-width: 30%; }
  .about .about__text {
    margin: 20px 0 34px 0; } }

@media (max-width: 1010px) {
  .about .about__text {
    margin: 20px 0 14px 0; } }

@media (max-width: 992px) {
  .about .about__body {
    padding: 30px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about .about__info {
    margin: 40px 0 0 0;
    max-width: 50%; }
  .about .about__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 672px) {
  .about .about__info {
    margin: 40px 0px 0 -20px;
    max-width: 90%; } }

.portfolio__body {
  margin: 158px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.portfolio__title {
  color: #1e1e1e;
  font-family: "Myriad Pro";
  font-size: 40px;
  font-weight: 700; }

.portfolio__subtitle {
  width: 651px;
  color: #565656;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  margin: 11px 0 60px 0; }

.portfolio__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .portfolio__image_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0; }
    .portfolio__image_items:nth-child(2) {
      margin-bottom: 0; }
    .portfolio__image_items a {
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      -webkit-animation: fade-in .4s ease;
      animation: fade-in .4s ease;
      max-height: 282px;
      margin: 0 20px 35px 15px; }
      .portfolio__image_items a:nth-child(2), .portfolio__image_items a:nth-child(4) {
        margin-right: 15px;
        margin-left: 0px; }
      .portfolio__image_items a:hover {
        opacity: 0.8; }
    .portfolio__image_items img {
      width: 100%;
      height: 100%;
      background-size: cover; }

@media (max-width: 992px) {
  .portfolio .portfolio__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 50px 0 0 0; }
  .portfolio .portfolio__image_items a {
    margin: 0 15px 18px 30px; }
    .portfolio .portfolio__image_items a:nth-child(2), .portfolio .portfolio__image_items a:nth-child(4) {
      margin-right: 30px;
      margin-left: 0px; }
    .portfolio .portfolio__image_items a:nth-child(3), .portfolio .portfolio__image_items a:nth-child(4) {
      margin-bottom: 0; }
  .portfolio .portfolio__title {
    margin: 20px 0 0 0; }
  .portfolio .portfolio__subtitle {
    width: 300px; } }

@media (max-width: 672px) {
  .portfolio .portfolio__image_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .portfolio .portfolio__image_items a {
    margin: 0 10px 18px 10px; }
    .portfolio .portfolio__image_items a:nth-child(2), .portfolio .portfolio__image_items a:nth-child(4) {
      margin-right: 10px;
      margin-left: 10px; }
    .portfolio .portfolio__image_items a:nth-child(3), .portfolio .portfolio__image_items a:nth-child(4) {
      margin-bottom: 0; } }

.footer {
  margin: 100px 0 0 0;
  background-color: #000415;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-height: 337px; }
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 112px -20px 80px 0;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff; }
  .footer__title {
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    .footer__title:after {
      content: "";
      position: absolute;
      right: 0;
      top: -53px;
      width: 1px;
      height: 167px;
      background-color: #393939; }
    .footer__title_logo {
      padding: 0 0 12px 0; }
    .footer__title_text {
      padding: 0 150px 0 0;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      line-height: 32.98px;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .footer__title_text {
          font-size: calc(12px + 10.2 * ((100vw - 320px) / 1200)); } }
      @media (min-width: 767px) {
        .footer__title_text {
          font-size: calc(12px + 6 * (100vw / 1200)); } }
  .footer__contact_icon {
    margin: 0 0 0 94px;
    position: absolute; }
  .footer__contact_text {
    margin: 0 0 0 164px;
    padding: 0 0 28px 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px; }
    @media (max-width: 767px) {
      .footer__contact_text {
        font-size: calc(10px + 6.8 * ((100vw - 320px) / 1200)); } }
    @media (min-width: 767px) {
      .footer__contact_text {
        font-size: calc(10px + 4 * (100vw / 1200)); } }
  .footer__num_icon {
    margin: 0 0 0 94px;
    position: absolute; }
  .footer__num_text {
    margin: 0 0 0 164px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px; }
    @media (max-width: 767px) {
      .footer__num_text {
        font-size: calc(11px + 6.8 * ((100vw - 320px) / 1200)); } }
    @media (min-width: 767px) {
      .footer__num_text {
        font-size: calc(11px + 4 * (100vw / 1200)); } }
    .footer__num_text a {
      color: #fff; }
    .footer__num_text a:hover {
      color: #bbb; }
  .footer__copyright {
    color: #818181;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    bottom: 20px;
    text-align: center;
    color: #818181; }
    @media (max-width: 767px) {
      .footer__copyright {
        font-size: calc(10px + 8.5 * ((100vw - 320px) / 1200)); } }
    @media (min-width: 767px) {
      .footer__copyright {
        font-size: calc(10px + 5 * (100vw / 1200)); } }
  @media (max-width: 992px) {
    .footer .footer__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0px 0 0px 0;
      padding: 20px 0px 0 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-item-align: center;
      align-self: center;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .footer .footer__title {
      margin: 0px 0 20px 0;
      padding: 0px 0 0px 0; }
      .footer .footer__title:after {
        display: none; }
      .footer .footer__title_text {
        padding: 0;
        margin: 0 0 0 0px; }
    .footer .footer__contact_icon {
      margin: 0 0 0 30px;
      padding: 10px 0 0 0; }
    .footer .footer__num_icon {
      margin: 0px 0 0px 30px;
      padding: 10px 0 0 0; }
    .footer .footer__contact_text {
      margin: 0px 0 0 0px;
      padding: 0; }
    .footer .footer__num_text {
      margin: 0 0 40px 0px;
      padding: 0 0 0 0; }
    .footer .footer__copyright {
      bottom: 15px; } }
  @media (max-width: 767px) {
    .footer .footer__title_text {
      margin: 0 0 0 0px;
      padding: 0; } }
