@import "nullstyle.scss";
@import "adaptImageFone.сss";
@import "styleName.css";
//=====FONTS==================================================================
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
//=========================================================================
//=========================================================================

$maxWidth:1200;
@mixin adaptive-font($pcSize, $mobSize){
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media(max-width: 767px){
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media(min-width: 767px){
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}


@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

//============ BODY =========================================================
//=========================================================================

body{
	
}

//============ ScreenIMG ====================================================
//=========================================================================

.page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
.main-screen{
	flex: 1 0 100%;
	position: relative;
	&__bg{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.opacity{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(10,33,60,0.7);
	}


//============ container ==================================================
//=========================================================================

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

//============ header ==================================================
//=========================================================================


.header {
	position: absolute;
	width: 100%;
	z-index: 2;
	background-color: #fff;
	padding: 45px 0;
	&__burger {
		display: none;
	}
	&__menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__logo {}
}

.menu {
	&__body {}
	&__list {
		display: flex;
		flex-direction: row;
	}
	&__link {
		color: #252525;
		font-family: "PT Sans";
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 0 50px;
		padding: 5px 3px;
		transition:all 0.3s ease 0s;
		&:hover{
			opacity: 0.4;
		}
	}
}

@media (max-width: 767px){
	.header__burger{
		display: block;
		position: absolute;
		width: 30px;
		height: 20px;
		right: 30px;
	}
	.header__burger span{
		position: absolute;
		background-color: #000;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.menu__list{
		display: flex;
		flex-direction: column;
	}
	.menu__body{
		position: absolute;
		z-index: 2;
		right: 0px;
		top: -100%;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-radius: 0 0 0 30px;
		justify-content: center;
		padding: 0 40px 0 0;
		text-align: center;
	}
	.menu__body.active{
		top: 80%;
	}
	.menu__link.active{
		font-size: 24px;
		text-align: center;
	}
	.menu__list.active{
			& li{
				margin: 0 0 30px 0;
			}
		}
	.intro.active{
		z-index: 1;
	}
}

//============ intro ==================================================
//=========================================================================


.intro {
	position: absolute;
	z-index: 3;
	text-align: center;
	top:45%;
	width: 100%;
	&__title {
		padding: 0 0 47px 0;
		color: #ffffff;
		font-family: "PT Sans";
		font-weight: 700;
		@include adaptive-font(80,30);
	}
	&__btn {
		&_btn {
			width: 129px;
			height: 42px;
			box-shadow: 3px 3px #0030ff;
			transition:all 0.6s ease 0s;
			& p{
				color: #1e1e1e;
				font-family: "PT Sans";
				@include adaptive-font(14,18);
				font-weight: 400;
			}
		}
	}
	@media (max-width: 769px){
		.intro__btn_btn{
			width: 70%;
			margin: 40px 0 0 0;
		}
	}
	@media (max-width: 671px){
		.intro__btn_btn{
			width: 90%;
			margin: 50px 0 0 0;
		}
	}
}

//============ btn === intro,about ========================================
//=========================================================================

.btn:hover{
	border-radius: 3px;
	box-shadow: 3.5px 3.5px 20px #0030ff;
}
.btn:active{
	transition:all 0.3s ease 0s;
	opacity: 0.8;
}

//============ about ==================================================
//=========================================================================

.about {
	&__body {
		padding: 148px 0 0 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__image {
		& img{
			animation: fade-in .4s ease;
			box-shadow: 10px 10px #b3278d;
		}
	}
	&__info {
		padding: 0 0 0 40px;
		align-self:center;
	}
	&__title {
		color: #1e1e1e;
		font-family: "Myriad Pro";
		font-size: 40px;
		font-weight: 700;
	}
	&__text {
		margin: 20px 0 64px 0;
		color: #363636;
		font-family: "PT Sans";
		font-size: 16px;
		font-weight: 400;
		& p{
			padding: 26px 0 0 0;
		}
	}
	&__btn {
		&_btn {
			width: 142px;
			height: 42px;
			background-color: #0030ff;
			box-shadow:4px 4px #01197e;
			transition:all 0.5s ease 0s;
			& p{
				color: #ffffff;
				font-family: "Myriad Pro";
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
	@media (max-width: 1211px){
		.about__body{
			display: flex;
			justify-content: center;
		}
		.about__image img{
			max-width: 500px;
		}
		.about__info{
			max-width: 30%;
		}
		.about__text{
			margin: 20px 0 34px 0;
		}
	}
	@media (max-width: 1010px){
		.about__text{
			margin: 20px 0 14px 0;
		}
	}
	@media (max-width: 992px){
		.about__body{
			padding: 30px 0 0 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.about__info{
			margin: 40px 0 0 0;
			max-width: 50%;
		}
		.about__image{
			display: flex;
			justify-content: center;
		}
	}
	@media (max-width: 672px){
		.about__info{
			margin: 40px 0px 0 -20px;
			max-width: 90%;
		}
	}
}

//============ portfolio ==================================================
//=========================================================================

.portfolio {
	&__body {
		margin: 158px 0 0 0;
		display: flex;
		flex-direction: column;
		align-items:center;
		text-align: center;
	}
	&__text {}
	&__title {
		color: #1e1e1e;
		font-family: "Myriad Pro";
		font-size: 40px;
		font-weight: 700;
	}
	&__subtitle {
		width: 651px;
		color: #565656;
		font-family: "PT Sans";
		font-size: 16px;
		font-weight: 400;
		margin: 11px 0 60px 0;
	}
	&__image {
		display: flex;
		flex-direction: column;
		&_items {
			display: flex;
			flex-direction: row;
			&:nth-child(2){
				margin-bottom: 0;
			}
			padding: 0;
			& a{
				animation: fade-in .4s ease;
				max-height: 282px;
				margin: 0 20px 35px 15px;
				&:nth-child(2),
				&:nth-child(4){
					margin-right: 15px;
					margin-left: 0px;
				}
				&:hover{
					transition:all 0.5s ease 0s;
					opacity: 0.8;
				}
			}
			& img{
				width: 100%;
				height: 100%;
				background-size: cover;
			}
		}
	}
	@media (max-width: 992px){
		.portfolio__body{
			display: flex;
			flex-direction: column-reverse;
			margin: 50px 0 0 0;
		}
		.portfolio__image_items a{
			margin: 0 15px 18px 30px;
			&:nth-child(2),
			&:nth-child(4){
				margin-right: 30px;
				margin-left: 0px;
			}
			&:nth-child(3),
			&:nth-child(4){
				margin-bottom: 0;
			}
		}
		.portfolio__title{
			margin: 20px 0 0 0;
		}
		.portfolio__subtitle{
			width: 300px;
		}
	}
	@media (max-width: 672px){
		.portfolio__image_items{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.portfolio__image_items a{
			margin: 0 10px 18px 10px;
			&:nth-child(2),
			&:nth-child(4){
				margin-right: 10px;
				margin-left: 10px;
			}
			&:nth-child(3),
			&:nth-child(4){
				margin-bottom: 0;
			}
		}
	}
}

//============ footer ==================================================
//=======================================================================

.footer {
	margin: 100px 0 0 0 ;
	background-color: #000415;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: center;
	max-height: 337px;
	&__body {
		display: flex;
		margin: 112px -20px 80px 0;
		align-self: center;
		justify-content: center;
		justify-content: space-between;
		color:#fff;
	}
	&__title {
		position: relative;
		align-self: center;
		&:after{
			content: "";
			position: absolute;
			right: 0;
			top: -53px;
			width: 1px;
			height: 167px;
			background-color: #393939;
		}
		&_logo {
			padding: 0 0 12px 0;
		}
		&_text {
			padding: 0 150px 0 0;
			color: #ffffff;
			font-family: 'Poppins', sans-serif;
			@include adaptive-font(18,12);
			font-weight: 400;
			line-height: 32.98px;
			text-transform: uppercase;
		}
		
	}
	&__contact {
		&_icon {
			margin: 0 0 0 94px;
			position: absolute;
		}
		&_text {
			margin: 0 0 0 164px;
			padding: 0 0 28px 0;
			color: #ffffff;
			font-family: 'Open Sans', sans-serif;
			@include adaptive-font(14,10);
			font-weight: 400;
			line-height: 24px;
		}
	}
	&__address {}
	&__num {
		&_icon {
			margin: 0 0 0 94px;
			position: absolute;
		}
		&_text {
			margin: 0 0 0 164px;
			color: #ffffff;
			font-family: 'Open Sans', sans-serif;
			@include adaptive-font(15,11);
			font-weight: 400;
			line-height: 24px;
			& a{
				color:#fff;
			}
			& a:hover{
				color:#bbb;
			}
		}
	}
	&__copyright {
		color: #818181;
		font-family: 'Open Sans', sans-serif;
		@include adaptive-font(15,10);
		font-weight: 400;
		position: relative;
		bottom: 20px;
		text-align: center;
		color: #818181;
	}
	@media (max-width: 992px){
		.footer__body{
			display: flex;
			margin: 0px 0 0px 0;
			padding:20px 0px 0 0px;
			flex-direction: column;
			align-self: center;
			text-align: center;
			justify-content: center;
		}
		.footer__title{
			margin: 0px 0 20px 0;
			padding:0px 0 0px 0;
			&:after{
				display: none;
			}
			&_text{
				padding: 0;
				margin: 0 0 0 0px;
			}
		}
		.footer__contact_icon{
			margin: 0 0 0 30px;
			padding: 10px 0 0 0;
		}
		.footer__num_icon{
			margin: 0px 0 0px 30px;
			padding: 10px 0 0 0;
		}
		.footer__contact_text{
			margin: 0px 0 0 0px;
			padding: 0;
		}
		.footer__num_text{
			margin: 0 0 40px 0px;
			padding: 0 0 0 0;
		}
		.footer__copyright{
			bottom: 15px;
			
		}
	}
	@media (max-width: 767px){
		.footer__title_text{
			margin: 0 0 0 0px;
			padding: 0;
		}
		.footer__copyright{
			
		}
	}
}
